<%- include("partials/header") -%>
<h1>About</h1>
<p><%= about %> </p>
<p> This is the about page section </p>
<form class="" action="/" method="post">
  <button type = "submit" >click</button>
</form>

<%- include("partials/footer") -%>
